#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp M
                &kp I   &kp J   &kp K   &kp L
                &kp E   &kp F   &kp G   &kp H
                &kp A   &kp B   &kp C   &kp D
            >;
        };
    };
};
