#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp 1
                &kp Q   &kp W   &kp E   &kp R
                &kp A   &kp S   &kp D   &kp F
                &kp Z   &kp X   &kp C   &kp V
            >;
        };
    };
};
